.project-container1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/CvSU E-Clearance.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image ease-in 300ms;
}
.project-container2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/Beelzebub-Ecommerce.png");
    background-position: center;
    background-size: cover;
}

.project-container3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/STAT.png");
    background-position: center;
    background-size: cover;
}

.project-container1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/assets/images/CvSU E-Clearance.png");
}
.project-container2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/assets/images/Beelzebub-Ecommerce.png");
}
.project-container3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/assets/images/STAT.png");
}